html{
  box-sizing: border-box;
  height: auto;
  width: auto;
}

body {
  max-width: 960px;
  margin-left: auto;
  margin-right:auto;
  background-color: #a8a19b;
  }

header {
    background-color: #dddddd;
    height: 60px;
    margin-top: -10px;
    width: 100%;
    max-width: 960px;
}

nav {
  background-color: #cc9998;
  height: 30px;
  width: 100%;
}
 nav ul {
   padding-left: 10px;
   margin: 0 0 0 0;
 }

 nav li {
   display: inline-block;
   padding-top: 7px;
 }
h1 {
  margin: 0 0 0 0;
  padding: 15px 0 0 10px;
}

section {
  float: left;
  width: 67%;
  background-color: #9acc99;
  height: 1024px;
  margin: 0;

}

aside {
  width: 33%;
  float: left;
  height: 1024px;
  background-color: #9999cd;
}

p, h2 {
  padding: 0px 10px 0 10px;
  margin-top: 10px;
}
